

	<% if (name) { %>

<div class="span9">
		Hello <%= name %>

	<div class="btn-group" style="margin: 9px 0 5px;">
		<button class="btn rename"><span class="icon-pencil"></span></button>
		<!-- <button class="btn move"><span class="icon-retweet"></span></button> -->
		<button class="btn delete"><span class="icon-trash"></span></button>
		<button class="btn upload"><span class="icon-upload"></span></button>
		<button class="btn scan"><span class="icon-camera"></span></button>
	</div>
</div>
	<% } else { %>
<div class="span9">

		Welcome!

</div>
	<% } %>